<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
<h1>데이터 보기</h1>
{% for data in staticData %}
<div>{{ data }}</div>
{% endfor %}

<div>
    <h5>히스토그램/커널밀도 그래프</h5>
    <img src="{{ baseImgUrl }}{{ histKdeImgUrl }}">
</div>

<div>
    <h5>복수그래프</h5>
    <img src="{{ baseImgUrl }}{{ faceImgUrl }}">
</div>

<div>
    <h5>상자그래프</h5>
    <img src="{{ baseImgUrl }}{{ boxImgUrl }}">
</div>

<div>
    <h5>막대형 그래프</h5>
    <img src="{{ baseImgUrl }}{{ stickImgUrl }}">
</div>

<div>
    <h5>원형 그래프</h5>
    <img src="{{ baseImgUrl }}{{ circleImgUrl }}">
</div>
<div>
    <h5>joinPlat 그래프</h5>
    <img src="{{ baseImgUrl }}{{ joinImgUrl }}">
</div>
<div>
    <h5>joinPlat2 그래프</h5>
    <img src="{{ baseImgUrl }}{{ join2ImgUrl }}">
</div>


</body>
</html>