<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/base.css' %}" />
    <title>DJango - common</title>
</head>
<body>
<ul>
    <li><a href="/myApp/">myApp</a></li>
    <li><a href="/myApp/form">get/post 테스트</a></li>
    <li><a href="/myApp/html/parent">html 상속 테스트</a></li>
    <li><a href="/myApp/html">투표 데모</a></li>
    <li>---------------------------</li>
    <li><a href="/lotto/">로또메인</a></li>
    <li><a href="/lotto/lottoNumber">로또번호 조회</a></li>
    <li><a href="/lotto/listNumber">로또번호 리스트</a></li>
    <li><a href="/lotto/crollingNumber">로또번호 크롤링</a></li>
    <li><a href="/lotto/crollintIntoSave">로또번호 크롤링 후 저장</a></li>
    <li>---------------------------</li>
    <li><a href="/funTest/">Function Test</a></li>
    <li><a href="/myApi/">API test(미구현)</a></li>
    <li>---------------------------</li>
    <li><a href="/myData/">Pandas Test</a></li>
</ul>
</body>
</html>