<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로또번호 리스트</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'getCron/css/lottoNumber.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div  id="titleText">
<span>[[message]]</span>
</div>

<table class="viewTable">
    <tr>
        <td>회차</td>
        <td>.1</td>
        <td>.2</td>
        <td>.3</td>
        <td>.4</td>
        <td>.5</td>
        <td>.6</td>
        <td>보너스번호</td>
    </tr>
    {% for lotto in lotto_list %}
    <tr>
        <td>{{ lotto.round }}</td>
        <td>{{ lotto.prize1 }}</td>
        <td>{{ lotto.prize2 }}</td>
        <td>{{ lotto.prize3 }}</td>
        <td>{{ lotto.prize4 }}</td>
        <td>{{ lotto.prize5 }}</td>
        <td>{{ lotto.prize6 }}</td>
        <td>{{ lotto.bonus }}</td>
    </tr>


    {% endfor %}
</table>


<script>
       var tt = new Vue({
        delimiters: ['[[', ']]'],
        el: '#titleText',
        data: {
            message: '로또번호 리스트'
            }
        })
    </script>
</body>
</html>